p {
  font-weight: bold;
  margin: 0;
}

.App {
  max-width: 800px;
  margin: auto;
}

.header {
  padding-top: 1em;
  padding-bottom: 1em;
}

.selectCurrencyWrapper {
  text-align: right;

}

.selectCurrencyWrapper p {
  color: gray;
}
