.App {
  margin: auto;
  max-width: 800px;
  padding-top: 1em;
}

/* Float */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

/* Text */
.align-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.input {
  color: #db0000;
}

.output {
  color: green;
}

.gray {
  color: gray;
}

/* Select */
select {
  border: 0;
}

select:focus {
  outline: 0;
}

/* Table */
table {
  border-spacing: 0;
}

table, tr {
  width: 100%;
}

th {
  text-align: left;
}

th, td {
  padding: 5px 0 5px 0;
}

td {
  border-bottom: 1px solid gray;
}

td:last-child {
  border-left: 1px solid gray;
}

table input {
  border: 0;
  text-align: right;
  width: 95%;
}

table input:focus {
  background-color: #ffebeb;
  outline: 0;
}

.border2 {
  border-bottom: 2px solid gray;
}

.width80 {
  width: 80%;
}

.width60 {
  width: 60%;
}

.width20 {
  width: 20%;
}

.pad-right {
  padding-right: 5px;
}
