.App {
  margin: auto;
  max-width: 800px;
  padding-top: 1em;
}

/* Float */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

/* Text */
.align-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.input {
  color: darkred;
}

.output {
  color: darkgreen;
}

.gray {
  color: gray;
}

/* Table */
input {
  border: 0;
  width: 85%;
}

table, tr {
  width: 100%;
}

th {
  text-align: left;
}

.width80 {
  width: 80%;
}

.width20 {
  width: 20%;
}
